@using Profais.Services.ViewModels.Shared;
@using Profais.Services.ViewModels.Project;
@model PagedResult<RecoverProjectViewModel>

@{
    ViewData["Title"] = "Recovery Panel - View deleted projects";

    Model.PaginationViewModel.Area = "Admin";
    Model.PaginationViewModel.Controller = "RecoveryPanel";
    Model.PaginationViewModel.Action = "ViewDeletedProjects";
}

<div class="container mt-4">
    <h2>
        @ViewData["Title"]
    </h2>

    <div class="row">
        @foreach (RecoverProjectViewModel project in Model.Items)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black">
                            @project.Title
                        </h5>

                        <p class="card-text" style="color:black">
                            @project.Id
                        </p>

                        <p class="card-text" style="color:black">
                            @project.AbsoluteAddress
                        </p>

                        <form asp-area="Admin" asp-action="RecoverProject" asp-controller="RecoveryPanel" method="post">
                            <input value="@project.Id" hidden name="id" />

                            <button type="submit" class="btn btn-warning" style="color:black">
                                Recover Project
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="_Pagination" model="Model.PaginationViewModel" />
</div>