@using Profais.Services.ViewModels.Task;
@using Profais.Services.ViewModels.Shared;
@model PagedResult<DailyTaskViewModel>

@{
    ViewData["Title"] = "Task - Daily Tasks";
}

<div class="container mt-4">
    @if (Model.Items.Any())
    {
        <div class="row">
            @foreach (DailyTaskViewModel task in Model.Items)
            {
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                @task.Title
                            </h4>
                        </div>

                        <div class="card-body">
                            <p>
                                <strong>
                                    Status:
                                </strong>

                                <span>
                                    @(task.IsCompleted ? "Completed" : "Not Completed")
                                </span>
                            </p>

                            <p>
                                <strong>
                                    Project Title:
                                </strong>

                                <span>
                                    @task.ProjectTitle
                                </span>
                            </p>

                            <p>
                                <strong>
                                    Description:
                                </strong>

                                <span>
                                    @task.Description
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <nav>
            <ul class="pagination justify-content-center">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="DailyTasks" asp-route-page="@(Model.CurrentPage - 1)">
                            Previous
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="DailyTasks" asp-route-page="@i">
                            @i
                        </a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="DailyTasks" asp-route-page="@(Model.CurrentPage + 1)">
                            Next
                        </a>
                    </li>
                }
            </ul>
        </nav>

        @if (Model.Items.Any(x => x.IsCompleted))
        {
            <form method="post" action="ResetCompletedTasks">
                <button type="submit" class="btn btn-primary mt-3">
                    Reset Tasks
                </button>
            </form>
        }
    }
    else
    {
        <h2>
            No daily tasks available
        </h2>
    }
</div>
