@using Profais.Services.ViewModels.Penalty
@model UserPenaltyViewModel

@{
    ViewData["Title"] = "Penalty - Add To User";
}

<h2>
    @ViewData["Title"]
</h2>

<form asp-action="AddPenaltyToUser" method="post">
    <div>
        <label asp-for="SelectedUserId" class="form-label"></label>
        <select asp-for="SelectedUserId" class="form-control">
            <option value="">--Select User--</option>
            @foreach (UserForPenaltyViewModel user in Model.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>

    <div>
        <label asp-for="SelectedPenaltyId" class="form-label"></label>
        <select asp-for="SelectedPenaltyId" class="form-control">
            <option value="">--Select Penalty--</option>
            @foreach (PenaltyViewModel penalty in Model.Penalties)
            {
                <option value="@penalty.Id">@penalty.Title</option>
            }
        </select>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">
            Add Penalty to User
        </button>
    </div>
</form>
