@using Profais.Services.ViewModels.Shared;
@using Profais.Services.ViewModels.Penalty;
@model PagedResult<FullCollectionPenaltyViewModel>

@{
    ViewData["Title"] = "Penalty - All";

    Model.PaginationViewModel.Area = "";
    Model.PaginationViewModel.Controller = "Penalty";
    Model.PaginationViewModel.Action = "GetAllPenalties";
}

<div class="container mt-4">
    <h2>
        @ViewData["Title"]
    </h2>

    <div class="row">
        @foreach (FullCollectionPenaltyViewModel penalty in Model.Items)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @penalty.Title
                        </h5>

                        <p>
                            @($"{penalty.UserName} - {penalty.Role}")
                        </p>

                        <form asp-action="RemoveUserPenalty" asp-controller="Penalty" method="post">
                            <input hidden name="penaltyId" value="@penalty.Id" />
                            <input hidden name="userId" value="@penalty.UserId" />
                            <button type="submit" class="btn btn-primary">
                                Remove Penalty
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="_Pagination" model="Model.PaginationViewModel" />
</div>