@    using Profais.Services.ViewModels
@model ICollection<WorkerRequestViewModel>

@{
    ViewBag.Title = "Preview Requests - Worker";
}

<h1>
    Worker Requests
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Client Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Profix Id
            </th>
            <th>
                Current Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>
                    @request.UserId
                </td>
                <td>
                    @request.FirstName
                </td>
                <td>
                    @request.LastName
                </td>
                <td>
                    @request.ProfixId
                </td>
                <td>
                    @request.Status.ToString()
                </td>
                <td>
                    <form method="post" asp-action="ApproveWorkerRequest">
                        <input type="hidden" name="request.Id" value="@request.Id" />
                        <input type="hidden" name="request.ClientId" value="@request.UserId" />
                        <input type="hidden" name="request.FirstName" value="@request.FirstName" />
                        <input type="hidden" name="request.LastName" value="@request.LastName" />
                        <input type="hidden" name="request.ProfixId" value="@request.ProfixId" />
                        <input type="hidden" name="request.Status" value="Accepted" />
                        <button type="submit" class="btn btn-success">
                            Approve
                        </button>
                    </form>

                    <form method="post" asp-action="DeclineWorkerRequest">
                        <input type="hidden" name="request.Id" value="@request.Id" />
                        <input type="hidden" name="request.ClientId" value="@request.UserId" />
                        <input type="hidden" name="request.FirstName" value="@request.FirstName" />
                        <input type="hidden" name="request.LastName" value="@request.LastName" />
                        <input type="hidden" name="request.ProfixId" value="@request.ProfixId" />
                        <input type="hidden" name="request.Status" value="Declined" />
                        <button type="submit" class="btn btn-danger">
                            Decline
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
